body {
    background: #f0f0f0;
    margin: 0;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Lato, sans-serif;
}

h1 {
    font-weight: normal;
}

/* HEADER */
.header {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #dcdcdc;    */
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 25%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 25%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 25%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 25%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 25%, rgba(239, 239, 239, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0); /* IE6-9 */

    -webkit-box-shadow: 1px 1px 5px 0px rgba(30, 30, 30, 0.35);
    -moz-box-shadow: 1px 1px 5px 0px rgba(30, 30, 30, 0.35);
    box-shadow: 1px 1px 5px 0px rgba(30, 30, 30, 0.35);
}

.headerpic {
    padding: 28px;
}

/* ----content---- */
.defoView {
    max-width: 970px;
    margin: 15px auto;
}
/* ---------------------------*/
.productLineSelector {
    position: relative;
    width: 602px;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(30, 30, 30, 0.1);
    background: #fff;
    /*margin-bottom: 50px;*/
}

.pLineLi {
    display: inline-block;
    list-style: none;
    /*width: 120px;*/
    /*height: 120px;*/
    margin: 0 auto;
    opacity: 1;
}

.pLineLi:hover {
    opacity: 0.7;
}

.pLineLi img {
    width: 100px;
    height: 70px;
    position: relative;
    margin: 10px;
}

.pLineName {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 1.1em;
}

/***--------TABS View--------------***/
#tabok {
    /** TODO **/
}